<!-- templates/hour.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>{{ title }}</h1>
    <div id="chart"></div>
    <script>
        var data = [{
            x: {{ hours|tojson }},
            y: {{ counts|tojson }},
            type: 'bar'
        }];
        var layout = {
            title: "{{ title }}",
            xaxis: { title: "Hour of Day" },
            yaxis: { title: "Count" }
        };
        Plotly.newPlot('chart', data, layout);
    </script>
</body>
</html>
